$primary-color: #ff6600;

body {
  background-color: #f5f5f5;
  font-family: "Helvetica", sans-serif;
}

a {
  color: $primary-color;
}
a:hover {
  text-decoration: underline;
}
h1,
h2,
h3 {
  color: darken($primary-color, 10%);
}
